# dependencies
node_modules/
.pnpm-store

# Next.js / build outputs
.next/
out/
build/
dist/

# TypeScript / build caches
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env*.local

# System files
desktop.ini
.DS_Store
